@font-face {
    font-family: 'avenir-light';
    src: url('/fonts/avenir-light.woff');
}

.header {
    background-color: #6ec05d;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 40px;

}
.footer {
    margin-top:20px;
    margin-bottom:20px;
    text-align: right;

}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 3.2em;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 1em;

}
.footer-border {
  border-top: 1px solid #6ec05d;;
  padding-top: 1em;
}
.sub-header{
    background-color: #ededed;
    padding-top: 5px;
    padding-bottom: 5px;
}
.logo{
    height: 40px;
    vertical-align: bottom;

}
#add-domain-form {
    min-height: 60px;
}
.form-message {
    margin-top:10px;
}

.form-message.error {
    color: #D42622;
}
.form-message.success {
    color: #4D8641;
}

.config-title-wrapper {
    max-width: 350px;
}
.config-title {
    
    color: #6ec05d;
    font-size:20px;
    margin-bottom: 10px;
    font-weight: normal;
}
.config-row {

    border-bottom: 1px solid #6ec05d;;
    padding-top: 20px;
    padding-bottom: 10px;
}
.domain-row {
    padding: 6px 0px 6px 28px ;
    background: url('/images/check_icon.png') no-repeat;
    background-size: 20px 20px;
    background-position:left center;
    cursor: pointer;
}
.domain-row:hover  {
    opacity: 0.5;
    background: url('/images/remove_icon.png') no-repeat;
    background-size: 20px 20px;
    background-position:left center;
}
.green-button {
    background: #6ec05d !important;
    color: white !important;
    letter-spacing: 1px;
    border-radius: 2px;
    border-width: 0px;
    cursor: pointer;
    padding: 8px 10px 8px 10px;
    border-color: #6ec05d;
    transition: background-color 300ms ease-out;
}
.green-button:hover{
    opacity: 0.5;
}
input, textarea, select, button {
    padding: 6px 10px 6px 10px;
    border-radius: 1px;     
    border: 2px #6ec05d solid;
    font-family: "avenir-light", "Avenir", "Segoe UI", "Trebuchet MS", "Arial";
}

.settings-input {
    min-width: 180px;
    width: 180px;
}

a.link:hover{
    color: white;
    text-decoration: none;
    border-bottom: 1px solid white;
    line-height: 100%;
}
.centered {
    position: fixed;
    top: 42%;
    left: 50%;
    text-align: center;
    height: 200px;
    width: 90%;
    margin-left: -45%;
    margin-top: -100px;
}

@media (max-height:500px) {
    .centered {
        top: 25% !important;
    }
}

.pulsate {
    animation: pulsate 5s ease-out;
    animation-iteration-count: infinite;
    
}

@keyframes pulsate {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.4;
    }
    100% {
        opacity: 1.0;
    }
}


.hidden {
    display: none;
    pointer-events: none;
}
.feel-good-text {
    font-size: 16px;
    margin-top: 8px;
}

#btn-back-wrapper {
    position: fixed;
    top:25px;
    left: 25px;
    font-size:20px;
}

#btn-close {
    display: table;
    color: #6ec05d;
    background-color: white;
    padding: 15px 50px 15px 50px;
    margin: 35px auto 10px auto;
    border-radius: 5px;
    font-size: 20px;
}
#btn-allow-domain {
    font-size:16px;   
}

.menu {
    width:170px;
}


.menu-item {
    background-color: #ffffff;
    font-size: 16px;
    padding: 10px;
    display: block;
    color: #808080;
}

a.menu-item {
    color: #6ec05d;
}

.menu-border {
    border-bottom: 1px #808080 solid;
}

.menu-action:hover {
    background-color: #6ec05d;
    color: #ffffff;
}

.survey-link-wrapper {
    position: absolute;
    bottom: 25px;
    right: 25px;
    font-size: 17px;
}

#stats {
    margin-top: 15px;
}

.text-stat {
    margin-top: 5px;
}
