configuration {
    font:                           "Inter 13";
}

* {
    background-color:               transparent;
    background:                     #282c34;
    background-transparent:         #282c34A0;
    text-color:                     #adb1b9;
    primary:                        #E06C75;
    secondary:                      #3B4252;
    urgent:                         #BF616A;
}
