configuration {
    font:                           "Inter 13";
}

* {
    background-color:               transparent;
    background:                     #1E1D2F;
    background-transparent:         #1E1D2FA0;
    text-color:                     #adb1b9;
    primary:                        #f28fad;
    secondary:                      #3B4252;
    urgent:                         #BF616A;
}
