configuration {
    font:                           "System San Francisco 13";
}

* {
    background-color:               transparent;
    background:                     #1e222a;
    background-transparent:         #1e222aA0;
    text-color:                     #D8DEE9;
    primary:                        #DB6F8A;
    secondary:                      #313740;
    urgent:                         #BF616A;
}
